Source: crowdos-base
Section: admin
Priority: important
Maintainer: Mohammed Sameer <msameer@foolab.org>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
Vcs-Git: https://github.com/crowdos/crowdos-base.git
Vcs-Browser: https://github.com/crowdos/crowdos-base

Package: crowdos-base
Architecture: all
Essential: yes
Provides: sysvinit-core, init
Conflicts: init, sysvinit-core
Depends: ${misc:Depends},
         netbase,
         linux-image,
	 crowdos-config,
         runit,
         ifupdown,
         dconf-cli,
         dconf-service,
         dconf-gsettings-backend,
         dbus,
         whynot,
         systemstate,
         systemstate-plugin-hwhal
Description: Basic configurtion
 Basic files and configuration intended to override some Debian
 configuration.
